[Unit]
Description=Sausage Store Frontend Service
After=network.target
[Service]
User=frontend
Group=frontend
WorkingDirectory=/opt/sausage-store/static/frontend/dist/frontend
Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs
Restart=always
ExecStart=/usr/bin/http-server -p 80 --proxy http://localhost:8080
SuccessExitStatus=143
[Install]
WantedBy=multi-user.target
