[Unit]
Description=Sausage-store

[Service]
User=backend
Group=backend
Environment=REPORT_PATH=/var/sausage-store/reports
Environment=LOG_PATH=/var/sausage-store/logs

# значения переменных
Environment=PSQL_USER="std-022-024"
Environment=PSQL_PASSWORD="Testusr1234"
Environment=PSQL_HOST="rc1a-swsg2g6j6bhznvm0.mdb.yandexcloud.net"
Environment=PSQL_DBNAME="std-022-024"
Environment=PSQL_PORT="6432"

# Параметры подключения к БД можно указать с помощью переменных окружения SPRING
Environment=SPRING_DATASOURCE_URL="jdbc:postgresql://${PSQL_HOST}:${PSQL_PORT}/${PSQL_DBNAME}?ssl=true"
Environment=SPRING_DATASOURCE_USERNAME="${PSQL_USER}"
Environment=SPRING_DATASOURCE_PASSWORD="${PSQL_PASSWORD}"

Restart=always
ExecStart=/usr/bin/java \
-Dmyserver.basePath='/home/jarservice/' \
-Dmyserver.bindAddr='127.0.0.1' \
-Dmyserver.bindPort='8080' \
-Dmyserver.hostName='Sausage-store' \
-jar '/home/jarservice/sausage-store.jar'
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
